<div id="header">
    <ul id="main_nav">
        @MyHelpers.MainNavItem("Movies", "Movies.cshtml", "movies", @Page.PageNavLinkName)
        @MyHelpers.MainNavItem("Add Movie", "AddMovie.cshtml", "add-movie", @Page.PageNavLinkName)
        @MyHelpers.MainNavItem("Movies Table", "MoviesTable.cshtml", "movies-table", @Page.PageNavLinkName)
        @MyHelpers.MainNavItem("Employees", "Employees.cshtml", "employees", @Page.PageNavLinkName)
    </ul>
    <h1>My Movie Site</h1>
</div>
